<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Home</title>
</head>

<body class="d-flex flex-column">

    <header class="d-flex flex-row align-items-center justify-content-around" style="background-color: #18acf2; height: 8vh;">

        <div class="col-1 h-100">
            <img class="img-fluid h-100" src="{{ url_for('static', filename='assets/ilsc_logo.svg') }}" alt="ilsc_logo">
        </div>

        <div class="col-1">
            <img class="img-fluid" src="{{ url_for('static', filename='assets/ehb_logo.png') }}" alt="ehb_logo">
        </div>


        <div class="col-1">
            <img class="img-fluid" src="{{ url_for('static', filename='assets/sphero_logo.webp') }}" alt="sphero_logo">
        </div>




    </header>


    <main class="d-flex flex-column justify-content-center p-3 container-fluid">

        <div class="row m-5">
            <div class="col-12 text-center text-info p-5 my-5 border border-5 rounded-5">
                <h5 class="fs-1">WELCOME SPHERO GRAND PRIX</h5>
            </div>

            <div class="col-12 d-flex align-items-center justify-content-around p-5 my-5 border border-5 rounded-5">

                <a href="/game" target="_blank" class="btn btn-info px-5">GAME</a>
                <a href="/settings" target="_blank" class="btn btn-info px-5">SETTINGS</a>
                <a href="/release_caps"  class="btn btn-danger px-5">RELEASE CAMERAS</a>
                <a href="/delete/database"  class="btn btn-danger px-5">DELETE DATABASE</a>
            </div>

        </div>

    </main>



    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>