<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body class="d-flex flex-column">

    <header class="d-flex flex-row align-items-center justify-content-around">

        <div class="col-1 h-100">
            <img class="img-fluid h-100" src="../assets/ilsc_logo.svg" alt="">
        </div>

        <div class="col-1">
            <img class="img-fluid" src="../assets/ehb_logo.png" alt="">
        </div>


        <div class="col-1">
            <img class="img-fluid" src="../assets/sphero_logo.webp" alt="">
        </div>




    </header>

    <main class="d-flex flex-column p-3 container-fluid">

        <div class="main-first-row d-flex justify-content-evenly align-items-center p-2">


            <button class="btn btn-outline-success d-flex flex-column" type="button">

                <img class="rounded-5" src="../assets/sphero_bolt_empty_run.png" alt="">
                <span class="m-1">START RACE</span>
            </button>


            <div class="rounded bg-info p-3 d-flex flex-row w-50 justify-content-evenly align-items-center">

                <div class="container">

                    <div class="input-group my-1 ">
                        <label class="input-group-text font-size-manual" for="total_games">Total Games: </label>
                        <span class="form-control font-size-manual" id="total_games">5</span>
                    </div>

                    <div class="input-group my-1">
                        <label class="input-group-text font-size-manual" for="totao_spheros">Total Sphero Bolts: </label>
                        <span class="form-control font-size-manual" id="total_spheros">18</span>
                    </div>

                </div>

                <div class="container">
                    <canvas id="canvas_sphero"></canvas>
                </div>

                <div class="container">

                    <div class="input-group my-1">
                        <label class="input-group-text font-size-manual" for="total_red">Total Red: </label>
                        <span class="form-control font-size-manual" id="total_red">5</span>
                    </div>

                    <div class="input-group my-1">
                        <label class="input-group-text font-size-manual" for="total_yellow">Total Yellow: </label>
                        <span class="form-control font-size-manual" id="total_yellow">4</span>
                    </div>

                    <div class="input-group my-1">
                        <label class="input-group-text font-size-manual" for="total_blue">Total Blue: </label>
                        <span class="form-control font-size-manual" id="total_blue">4</span>
                    </div>

                    <div class="input-group my-1">
                        <label class="input-group-text font-size-manual" for="total_green">Total Green: </label>
                        <span class="form-control font-size-manual" id="total_green">5</span>
                    </div>


                </div>




            </div>




            <button class="btn btn-outline-danger d-flex flex-column" type="button" data-bs-toggle="modal"
                data-bs-target="#game_score">

                <img class="rounded-5" src="../assets/sphero_bolt_empty_stop.png" alt="">
                <span class="m-1">STOP RACE</span>
            </button>


            <div class="modal fade" id="game_score" tabindex="-1" aria-hidden="true" aria-labelledby="modal-label">
                <div class="modal-dialog p-5 modal-fullscreen">
                    <div class="modal-content p-2">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-label">SCORES</h5>
                            <button class="btn btn-danger btn-close" type="button" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>

                        <div class="modal-body p-2 d-flex flex-column align-items-center">


                            <div class="col-12 d-flex justify-content-center">


                                <div class="rounded bg-info p-5 w-50 m-5">
                                    <div class="input-group my-1">
                                        <label class="input-group-text font-size-manual" for="best">First Score:
                                        </label>
                                        <span class="form-control font-size-manual" id="best">None</span>
                                    </div>

                                    <div class="input-group my-1">
                                        <label class="input-group-text font-size-manual" for="mean">Mean Score:
                                        </label>
                                        <span class="form-control font-size-manual" id="mean">None</span>
                                    </div>

                                    <div class="input-group my-1">
                                        <label class="input-group-text font-size-manual" for="last">Last Score:
                                        </label>
                                        <span class="form-control font-size-manual" id="last">None</span>
                                    </div>

                                </div>

                            </div>



                            <div class="col-12 p-5 d-flex justify-content-around align-self-stretch">

                                <div
                                    class="col-2 bg-danger rounded-5 border border-5 border-black p-2 d-flex flex-column justify-content-center align-items-center">

                                    <span class="my-2 fs-1 fw-bolder text-info">1</span>
                                    <img class="img-fluid my-auto"
                                        src="../../paths/12_09_2025_23_50_38_a7a5e186d44343cea0f61a9ed0d63fbe_Blue.png"
                                        alt="1">
                                </div>

                                <div
                                    class="col-2 bg-danger rounded-5 border border-5 border-black p-2 d-flex flex-column justify-content-center align-items-center">
                                    <span class="my-2 fs-1 fw-bolder text-info">2</span>
                                    <img class="img-fluid my-auto" src="../assets/main.webp" alt="2">

                                </div>

                                <div
                                    class="col-2 bg-danger rounded-5 border border-5 border-black p-2 d-flex flex-column justify-content-center align-items-center">
                                    <span class="my-2 fs-1 fw-bolder text-info">3</span>
                                    <img class="img-fluid my-auto"
                                        src="../../paths/12_09_2025_23_50_38_a7a5e186d44343cea0f61a9ed0d63fbe_Blue.png"
                                        alt="3">
                                </div>

                                <div
                                    class="col-2 bg-danger rounded-5 border border-5 border-black p-2 d-flex flex-column justify-content-center align-items-center">
                                    <span class="my-2 fs-1 fw-bolder text-info">4</span>
                                    <img class="img-fluid my-auto"
                                        src="../../paths/12_09_2025_23_50_38_a7a5e186d44343cea0f61a9ed0d63fbe_Blue.png"
                                        alt="4">
                                </div>
                            </div>







                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-danger m-auto" data-bs-dismiss="modal" type="button">Close</button>
                        </div>

                    </div>

                </div>
            </div>










        </div>


        <div class="main-second-row row p-2">

            <div class="col-7 d-flex">
                <div class="row">

                    <div class="camera1-container col-7 bg-danger p-3 d-flex align-items-center justify-content-center">
                        <img class="camera1 img-fluid rounded" src="../assets/main.webp" alt="camera1">
                    </div>

                    <div
                        class="camera2-container col-5 bg-success p-3 d-flex align-items-center justify-content-center">
                        <img class="camera2 img-fluid rounded" src="../assets/main.webp" alt="camera2">
                    </div>
                </div>

            </div>

            <div class="col-5">
                <div class="row">
                    <div class="settings col-7 bg-light p-1 d-flex flex-column">

                        <div class="card border-2 p-1 m-1">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <img src="../assets/sphero_bolt_red.png" class="img-fluid rounded"
                                        alt="sphero_bolt_red">
                                </div>
                                <div class="col-6">

                                    <div class="card-body">

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual" for="red">@</label>
                                            <input class="form-control font-size-manual" type="text" placeholder="Red"
                                                id="red">
                                            <input type="button" value="Change"
                                                class="btn btn-success font-size-manual">
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="start_time">Start:</label>
                                            <span class="form-control font-size-manual" id="start_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="finish_time">Finish:</label>
                                            <span class="form-control font-size-manual" id="finish_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="lap_time">Total:</label>
                                            <span class="form-control font-size-manual" id="lap_time">None</span>
                                        </div>

                                        <div class="btn-group d-flex">
                                            <button class="col btn btn-warning font-size-manual">Reset</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card border-2 p-1 m-1">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <img src="../assets/sphero_bolt_yellow.png" class="img-fluid rounded"
                                        alt="sphero_bolt_yellow">
                                </div>
                                <div class="col-6">

                                    <div class="card-body">

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual" for="yellow">@</label>
                                            <input class="form-control font-size-manual" type="text"
                                                placeholder="Yellow" id="yellow">
                                            <input type="button" value="Change"
                                                class="btn btn-success font-size-manual">
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="start_time">Start:</label>
                                            <span class="form-control font-size-manual" id="start_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="finish_time">Finish:</label>
                                            <span class="form-control font-size-manual" id="finish_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="lap_time">Total:</label>
                                            <span class="form-control font-size-manual" id="lap_time">None</span>
                                        </div>

                                        <div class="btn-group d-flex">
                                            <button class="col btn btn-warning font-size-manual">Reset</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card border-2 p-1 m-1">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <img src="../assets/sphero_bolt_blue.png" class="img-fluid rounded"
                                        alt="sphero_bolt_blue">
                                </div>
                                <div class="col-6">

                                    <div class="card-body">

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual" for="blue">@</label>
                                            <input class="form-control font-size-manual" type="text" placeholder="Blue"
                                                id="blue">
                                            <input type="button" value="Change"
                                                class="btn btn-success font-size-manual">
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="start_time">Start:</label>
                                            <span class="form-control font-size-manual" id="start_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="finish_time">Finish:</label>
                                            <span class="form-control font-size-manual" id="finish_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="lap_time">Total:</label>
                                            <span class="form-control font-size-manual" id="lap_time">None</span>
                                        </div>

                                        <div class="btn-group d-flex">
                                            <button class="col btn btn-warning font-size-manual">Reset</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card border-2 p-1 m-1">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <img src="../assets/sphero_bolt_green.png" class="img-fluid rounded"
                                        alt="sphero_bolt_green">
                                </div>
                                <div class="col-6">

                                    <div class="card-body">

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual" for="green">@</label>
                                            <input class="form-control font-size-manual" type="text" placeholder="Green"
                                                id="green">
                                            <input type="button" value="Change"
                                                class="btn btn-success font-size-manual">
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="start_time">Start:</label>
                                            <span class="form-control font-size-manual" id="start_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="finish_time">Finish:</label>
                                            <span class="form-control font-size-manual" id="finish_time">None</span>
                                        </div>

                                        <div class="input-group my-1">
                                            <label class="input-group-text font-size-manual"
                                                for="lap_time">Total:</label>
                                            <span class="form-control font-size-manual" id="lap_time">None</span>
                                        </div>

                                        <div class="btn-group d-flex">
                                            <button class="col btn btn-warning font-size-manual">Reset</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>








                    </div>

                    <div class="dashboard col-5 bg-info p-3">
                        dashboard
                    </div>
                </div>


            </div>



        </div>




    </main>


    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/home.js"></script>
</body>

</html>