<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Settings</title>
</head>

<body>


    <header class="d-flex flex-row align-items-center justify-content-around" style="background-color: #18acf2; height: 8vh;">

        <div class="col-1 h-100">
            <img class="img-fluid h-100" src="{{ url_for('static', filename='assets/ilsc_logo.svg') }}" alt="ilsc_logo">
        </div>

        <div class="col-1">
            <img class="img-fluid" src="{{ url_for('static', filename='assets/ehb_logo.png') }}" alt="ehb_logo">
        </div>


        <div class="col-1">
            <img class="img-fluid" src="{{ url_for('static', filename='assets/sphero_logo.webp') }}" alt="sphero_logo">
        </div>




    </header>
    

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>